@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  /* màu blue-800 trong talwind css */
  --color-1: #1e40af;

}

body {
  background-color: #f8fafc;
}

.title {
  color: var(--color-1);
  font-weight: 700;
  font-size: 2rem;
}

.btn-submit {
  background-color: var(--color-1);
  color: white;
  border-color: var(--color-1);
}

.btn-submit:hover {
  background-color: #1e3a8a;
}

.p-inputtext:enabled:focus {
  border-color: var(--color-1);
  box-shadow: var(--p-inputtext-focus-ring-shadow);
  outline: var(--p-inputtext-focus-ring-width) var(--p-inputtext-focus-ring-style) var(--p-inputtext-focus-ring-color);
  outline-offset: var(--p-inputtext-focus-ring-offset);
}

.p-floatlabel:has(input:focus) label,
.p-floatlabel:has(input:-webkit-autofill) label,
.p-floatlabel:has(textarea:focus) label,
.p-floatlabel:has(.p-inputwrapper-focus) label {
  color: var(--color-1);
}

.p-drawer-close-button {
  width: 0px;
  display: none;
}